body {
    display: flex;
    justify-content: center;
    background-color:cadetblue;
 }

 #main-container {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     align-content: center;
     height: 500px;
     width: 400px;
     border: 3px solid black;
     border-radius: 5%;
     margin: 150px;
 }

 #display {
    height: 100px;
    width: 350px;
    border: 1px solid black;
    margin: 20px;
 }

 #top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }

 .clear, .ac {
    height: 70px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5%;
    font-size: 22px;
 }

 .clear {
    background-color: rgb(220, 241, 255);
 }

 .ac {
    background-color: lightcoral;
 }

 .digit {
    height: 50px;
    width: 70px;
    margin: 10px;
 }
